.result {
    margin-top: 40px;

    .result-section {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 24px;

        .right-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style: none;
            padding: 0;

            li {
                &:first-child {
                    color: #4CAF50;
                }

                b {
                    font-size: 30px;
                }
                color: #000;
                font-size: 18px;
                margin-bottom: 5px;
                padding: 10px;
                text-align: center;
                width: 100%;
            }
        }
    }
}
