.content-wrapper {
    display: flex;
    justify-content: center;
    padding: 30px;

    .panel {
        min-height: 50vh;
        min-width: 50vw;

        .row {
            min-height: 40vh;

            .instruction-box,
            .topic-list {
                display: flex;
                justify-content: center;
                align-items: center;
                height: inherit;
            }
        }

        h3 {
            color: #9797f5;
            padding: 0;
            margin: 0;
        }

        .instruction-box {
            flex-direction: column;
            padding-top: 20px;

            .instruction-heading {
                font-size: 16px;
                font-weight: 600;
            }

            .instruction-list {
                list-style: none;
                padding: 20px 0 30px 20px;

                li {
                    color: #333;
                }
            }

            &:after {
                border-bottom: 1px solid #ccc;
                content: "";
                width: 100%;
            }
        }

        .topic-list {
            padding-top: 30px;

            ul.list-wrapper {
                list-style: none;
                display: flex;
                flex-direction: column;
                padding: 0;
                align-items: center;

                li {
                    padding: 10px;
                    margin-bottom: 5px;
                    background-color: #fffbfb;
                    text-align: center;
                    width: 200px;
                    cursor: pointer;
                    border: 1px solid #ccc;
                    border-radius: 3px;

                    &:hover {
                        -webkit-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
                        -moz-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
                        box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.75);
                    }
                }
            }
        }
    }
}
/*-------------[ Media Queries ]------------------*/
@media only screen and (min-width: 480px) {
    .content-wrapper {
        .panel {
            .instruction-box {
                .instruction-list {
                    padding-left: 40px;
                }
            }
        }
    }
}
@media only screen and (min-width: 767px) {
    .content-wrapper {
        padding: 0;

        .panel {
            .row {
                display: flex;
            }

            .instruction-box {
                border-right: 1px solid #ccc;
                padding-top: 0;

                .instruction-list {
                    padding-bottom: 0;
                }

                &:after {
                    border-bottom: none;
                }
            }

            .topic-list {
                padding-top: 0;
            }
        }
    }
}
