.content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: #9797f5;
        padding: 0;
        margin: 0;
    }

    .list_wrapper {
        display: flex;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            min-width: 300px;

            li {
                padding: 10px;
                margin-bottom: 5px;
                background-color: #fffbfb;
                text-align: center;
                -webkit-box-shadow: 1px 2px 15px -2px rgba(0,0,0,0.75);
                -moz-box-shadow: 1px 2px 15px -2px rgba(0,0,0,0.75);
                box-shadow: 1px 2px 15px -2px rgba(0,0,0,0.75);
            }
        }
    }
}
