.radio {
  padding-left: 20px;
  label {
    color: rgba(51, 51, 51, 0.9);
    display: inline-block;
    font-weight: 600;
    position: relative;
    padding-left: 5px;
    &:before {
      background-color: #fff;
      border: 1px solid #cccccc;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 17px;
      left: 0;
      margin-left: -20px;
      position: absolute;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
      width: 17px;
    }
    &:after {
      background-color: #555555;
      border-radius: 50%;
      display: inline-block;
      content: " ";
      height: 11px;
      left: 3px;
      margin-left: -20px;
      position: absolute;
      top: 3px;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      width: 11px;
    }
  }
  input[type="radio"] {
    opacity: 0;
  }
  input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.radio-primary {
  input[type="radio"] + label::after,
  input[type="radio"]:checked + label::after {
    background-color: #019ac6;
  }
  input[type="radio"]:checked + label::before {
    border-color: #019ac6;
  }
}