.contents-wrapper {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  padding: 30px;
  .item-count {
    color: #019ac6;
    font-size: 18px;
    display: block;
    font-weight: 600;
    text-align: center;
  }
  .item-desc {
    padding-top: 25px;
  }
  .form-control {
    color: #333;
  }
  .form-control:focus {
    border-color: #019ac6;
  }
}
.radio {
  padding-left: 20px;
  label {
    display: inline-block;
    font-weight: 600;
    position: relative;
    padding-left: 5px;
    &:before {
      background-color: #fff;
      border: 1px solid #cccccc;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 17px;
      left: 0;
      margin-left: -20px;
      position: absolute;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
      width: 17px;
    }
    &:after {
      background-color: #555555;
      border-radius: 50%;
      display: inline-block;
      content: " ";
      height: 11px;
      left: 3px;
      margin-left: -20px;
      position: absolute;
      top: 3px;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      width: 11px;
    }
  }
  input[type="radio"] {
    opacity: 0;
  }
  input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.radio-primary {
  input[type="radio"] + label::after,
  input[type="radio"]:checked + label::after {
    background-color: #019ac6;
  }
  input[type="radio"]:checked + label::before {
    border-color: #019ac6;
  }
}
.checkbox {
  padding-left: 20px;
  label {
    display: inline-block;
    font-weight: 600;
    position: relative;
    padding-left: 5px;
    &:before {
      background-color: #fff;
      border: 1px solid #cccccc;
      border-radius: 3px;
      content: "";
      display: inline-block;
      height: 17px;
      left: 0;
      margin-left: -20px;
      position: absolute;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      width: 17px;
    }
    &:after {
      font-size: 11px;
      color: #555555;
      display: inline-block;
      height: 16px;
      left: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      position: absolute;
      top: 0;
      width: 16px;
    }
  }
  input[type="checkbox"] {
    opacity: 0;
  }
  input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
}
.checkbox-primary {
  input[type="checkbox"]:checked + label::before {
    background-color: #019ac6;
    border-color: #019ac6;
  }
  input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
}
.option-wrapper {
  padding-top: 15px;
}
.question-text {
  font-size: 16px;
}
.next-wrapper {
  padding-top: 35px;
  text-align: center;
  span {
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-size: 15px;
  }
  .btn-primary {
    background-color: #019ac6;
    font-weight: 600;
    border-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    -ms-transition: all .35s;
    transition: all .35s;
    &:hover {
      background-color: #fff;
      border-color: #019ac6;
      color: #019ac6;
    }
  }
  .btn-success {
    font-weight: 600;
  }
}

/*-------------[ Media Queries ]------------------*/
@media only screen and (min-width: 480px) {
  .next-wrapper {
    span {
      width: 50%;
    }
  }
}
@media only screen and (min-width: 767px) {
  .contents-wrapper {
    margin-top: 75px;
  }
  .option-wrapper {
    .option-items {
      display: inline-block;
      vertical-align: top;
      width: 50%;
    }
  }
  .next-wrapper {
    span {
      width: 25%;
    }
  }
  .option-wrapper.form-group{
    .form-control {
      width: 50%;
    }
  }
}