.contents-wrapper {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  padding: 30px;
  .question-count {
    color: #019ac6;
    font-size: 18px;
    display: block;
    font-weight: 600;
    text-align: center;
  }
  .question-desc {
    padding-top: 25px;
  }
}
.option-wrapper {
  padding-top: 15px;
  .option-items {
    label {
      font-size: 13px;
    }
  }
}
.question-text {
  font-size: 14px;
}
.button-wrapper {
  padding-top: 35px;
  height: 85px;
  text-align: center;
  span {
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-size: 15px;
  }
  .btn-primary {
    background-color: #019ac6;
    font-weight: 600;
    border-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    -ms-transition: all .35s;
    transition: all .35s;
    &:hover:enabled {
      background-color: #fff;
      border-color: #019ac6;
      color: #019ac6;
    }
  }
  .btn-success {
    font-weight: 600;
  }
}

/*-------------[ Media Queries ]------------------*/
@media only screen and (min-width: 480px) {
  .button-wrapper {
    span {
      width: 50%;
    }
  }
}
@media only screen and (min-width: 767px) {
  .contents-wrapper {
    margin-top: 75px;
  }
  .option-wrapper {
    .option-items {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      label {
        font-size: 16px;
      }
    }
  }
  .button-wrapper {
    span {
      width: 25%;
    }
  }
  .question-text {
    font-size: 16px;
  }
}